USE [master]
GO
/****** Object:  Database [Employee]    Script Date: 17-Nov-19 8:52:47 PM ******/
CREATE DATABASE [Employee]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Employee', FILENAME = N'C:\Users\HARSH\Employee.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Employee_log', FILENAME = N'C:\Users\HARSH\Employee_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Employee].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Employee]
GO
/****** Object:  Table [dbo].[EmployeeData]    Script Date: 17-Nov-19 8:52:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeData](
	[EmpId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Age] [int] NULL,
	[MaritalStatusId] [int] NOT NULL,
	[Salary] [int] NULL,
	[Location] [nvarchar](50) NULL,
 CONSTRAINT [PK_EmployeeData] PRIMARY KEY CLUSTERED 
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MaritalStatus]    Script Date: 17-Nov-19 8:52:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaritalStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaritalStatus] [nvarchar](50) NULL,
 CONSTRAINT [PK_MaritalStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[EmployeeData] ON 

GO
INSERT [dbo].[EmployeeData] ([EmpId], [Name], [Age], [MaritalStatusId], [Salary], [Location]) VALUES (1, N'Akshay', 27, 1, 2344, N'Pune')
GO
INSERT [dbo].[EmployeeData] ([EmpId], [Name], [Age], [MaritalStatusId], [Salary], [Location]) VALUES (3, N'Test 2 ', 45, 3, 47154, N'Hinjewadi')
GO
SET IDENTITY_INSERT [dbo].[EmployeeData] OFF
GO
SET IDENTITY_INSERT [dbo].[MaritalStatus] ON 

GO
INSERT [dbo].[MaritalStatus] ([Id], [MaritalStatus]) VALUES (1, N'Single')
GO
INSERT [dbo].[MaritalStatus] ([Id], [MaritalStatus]) VALUES (2, N'Married')
GO
INSERT [dbo].[MaritalStatus] ([Id], [MaritalStatus]) VALUES (3, N'Seprated')
GO
SET IDENTITY_INSERT [dbo].[MaritalStatus] OFF
GO
USE [master]
GO
